.side-nav {
  padding: 0.8rem 1.6rem;
}

.logo {
  padding: 1vh 0 2vh 0;
}

.logo h1 {
  font-weight: 500;
  letter-spacing: 0.8px;
  color: var(--clr-dark);
}

nav {
  height: 90vh;
  position: relative;
}

nav li {
  margin-bottom: 1.2em;
}

nav li a {
  display: inline-flex;
  width: 100%;
  padding: 1rem;
  border-radius: 0.8rem;
  background-color: #f9f9f9;
  transition: all 0.24s ease-in;
}

nav li a:hover {
  background-color: #eef2fc;
}

a span {
  font-size: 1.4rem;
  margin-left: 0.8em;
}

nav li a.active {
  background-color: #25b1dc;
  color: var(--clr-light);
}

a.logout {
  margin-top: auto;
  background-color: #fdf0ec;
  color: #81290e;
  position: absolute;
  bottom: 0;
}
