.page-header {
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-white);
  /* border-bottom: 1px solid #e3e3e3; */
}

.page-header h1 {
  font-weight: 500;
  font-size: 2.4rem;
}

.page-header div {
  display: inline-flex;
}

.page-header .btn-notify {
  border-radius: 50%;
  background-color: #f9f9f9;
  padding: 0.8rem;
  position: relative;
  margin-right: 2em;
}

.page-header .btn-notify span {
  font-size: 1.4rem;
  position: absolute;
  top: -0.2em;
  right: -0.4em;
  color: var(--clr-danger);
  font-weight: 500;
}

.btn-create {
  background-color: #2563dc;
  color: var(--clr-light);
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  min-width: 8rem;
  font-size: 1.2rem;
  padding: 0rem 1.2rem;
}

.btn-create span {
  margin-right: 0.8rem;
}

.task-sections {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: var(--clr-white);
  border-bottom: 1px solid #e3e3e3;
}
.task-sections section {
  padding: 1rem 1.2rem;
  flex: 1;
  cursor: pointer;
}

.task-sections section:hover {
  background-color: #eef2fc;
}

.task-sections section.--active {
  border-bottom: 3px solid var(--clr-primary);
}

.task-sections section.--active h3 {
  color: #2563dc;
}
.task-sections section.--active svg {
  color: #2563dc;
}

.section-header {
  display: flex;
  align-items: center;
}
.section-header h3 {
  font-weight: 500;
  font-size: 1.4rem;
  margin-left: 0.8em;
}

/* task markup */
.task-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 2.4em;
  gap: 1.6em;
}

.task-card {
  background-color: var(--clr-white);
  border: 1px solid #e3e3e3;
  border-radius: 0.8rem;
  padding: 1rem 1.2rem;
  position: relative;
}

.task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-header h3 {
  flex: 1;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--clr-dark);
}

.task-controls .icon-btn {
  padding: 0.8rem;
}

.task-card-body {
  font-size: 1.3rem;
  color: var(--clr-dark);
  margin-top: 0.8em;
}

.task-card-body .task-deadline {
  color: #999;
}
.task-card-body p {
  margin-top: 0.2em;
}

.card-info {
  display: flex;
  justify-content: space-between;
  margin-top: 0.8em;
}

.task-card-user {
  position: relative;
  display: flex;
}
.task-card-user .user-profile {
  width: 3rem;
  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;
  position: relative;
  margin-left: -12px;
}
.task-card-user .user-profile:first-child {
  margin-left: 0;
}

.task-card-priority {
  display: inline-block;
  min-width: 8rem;
  padding: 0.4rem 1rem;
  border-radius: 1.2rem;
  font-size: 1.1rem;
}
.--priority-Low {
  background-color: #eef2fc;
  color: #2563dc;
}
.--priority-Medium {
  background-color: #f3e1bf;
  color: #ee9e09;
}
.--priority-High {
  background-color: #fdf0ec;
  color: #81290e;
}

.task-controls {
  position: absolute;
  background-color: var(--clr-white);
  border: 1px solid #e3e3e3;
  border-radius: 0.8rem;
  width: 14rem;
  padding: 0.8rem;
  top: 4em;
  right: 1em;
  animation: fadeIn 0.3s ease-in-out;
}

.task-controls .control {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0rem 0.8rem;
  border-radius: 0.8rem;
}

.delete-task-control {
  color: #81290e;
  color: var(--clr-danger);
}

.btn-delete {
  color: var(--clr-danger);
}

.task-controls .control:hover {
  background-color: #eef2fc;
}

.task-controls .delete-task-control:hover {
  background-color: #fdf0ec;
}

.btn-edit {
  color: var(--clr-dark);
}

button.new-task {
  background-color: #25b1dc;
  padding: 0.4rem 0.8rem;
  color: var(--clr-white);
  font-size: 1.2rem;
  border-radius: 0.8rem;
  margin-left: 1em;
}

/* Fade-in Animation */
@keyframes fadeIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
